[packages]
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "==20.0.4"
sqlparse = "==0.3.1"
pytz = "==2020.1"
djangorestframework = "==3.11.2"
whitenoise = "==5.1.0"
Django = "==3.0.7"

[dev-packages]
